<h2>List of Heroes</h2>
<div>
	<label>Hero name:
		<input #heroName />
	</label>
	<!-- (click) passes input value to add() and then clears the input -->
	<ion-button (click)="add(heroName.value); heroName.value=''">
		add
	</ion-button>
</div>



<ul class="heroes">
	<li *ngFor="let hero of heroes">
		<a routerLink="/detail/{{hero.id}}">
			<span class="badge">{{hero.id}}</span> {{hero.name}}
		</a>
		<ion-button class="delete" title="delete hero" (click)="delete(hero)">x</ion-button>
	</li>
</ul>
